body {
  display: flex;
  align-content: center;
  justify-content: center;
}

h1 {
  position: absolute;
  top: 700px;
  bottom: auto;
  right: auto;
  left: auto;
  margin-top: auto;
}
h3 {
  position: absolute;
  top: 650px;
  bottom: auto;
  right: 10;
  margin-top: auto;
}
